Input

In [4]:
nama=input("masukan nama :")
print("Nama :", nama)
print("Tipe data:",type(nama))

Nama : 100
Tipe data: <class 'str'>

In [5]:
angka = int(input("masukan Value"))
print("Value :", angka)
print("Tipe data:",type(angka))

Value : 100
Tipe data: <class 'int'>

In [11]:
nama="ivan"
print("hello\ntest")
print("hello",nama,"selamat datang")
print("test", end ="!!!")
print("hallo")
print("a","b","c", sep= "@")

hello
test
hello ivan selamat datang
test!!!hallo
a@b@c

In [17]:
nama = "ivan"
alamat = "denpasar"
print("Nama :", nama, "Alamat :", alamat)
print(f"Nama :{nama}, Alamat :{alamat}")
print("Nama :{}, Alamat: {}".format(nama,alamat))
print("Alamat :{1}, Nama : {0}".format(nama, alamat))
print("Nama : {a}, Alamat : {b}".format(a=nama, b=alamat))

Nama : ivan Alamat : denpasar
Nama :ivan, Alamat :denpasar
Nama :ivan, Alamat: denpasar
Alamat :denpasar, Nama : ivan
Nama : ivan, Alamat : denpasar

In [18]:
angka = 20
huruf = "test"

print("Angka = %d, %s" %(angka,huruf))

Angka = 20, test

In [21]:
nama =input("Masukan Nama :")
umur=input("Masukan Umur :")
alamat=input("Masukan Alamat:")
print("Masukan Nama :", nama)
print("Masukan Umur :", umur)
print("Masukan Alamat :", alamat)

Masukan Nama : Robert
Masukan Umur : 14
Masukan Alamat : Jalan Tukad Batanghari

In [28]:
nama = "Robert"
umur = "14"
alamat = "Jalan Tukad Batanghari"
halo = input("perkenalan")
halo2 = input ("perkenalan2")

print(halo)
print(halo2)
print("Nama =", nama)
print("Umur = ", umur)
print("Almat =", alamat)

Halo Robert Selamat Datang di Koding Akademi !
Berikut Identitas Anda :
Nama = Robert
Umur =  14
Almat = Jalan Tukad Batanghari

In [31]:
nama = "Robert"
umur = "14"
alamat = "Jalan Tukad Batanghari"
halo = input("perkenalan")
halo2 = input ("perkenalan2")

print(halo)
print(halo2)
print(f"Nama = {nama},\nUmur = {umur},\nAlamat ={alamat}")

Halo Robert Selamat Datang di Koding Akademi !
Berikut Identitas Anda :
Nama = Robert,
Umur = 14,
Alamat =Jalan Tukad Batanghari