List

In [4]:
kota = ["denpasar", "tabanan", "gianyar"]
data2 = list("123")
data3 = list(["satu"])

print(kota)
print(kota[0])
print(kota[1])
print(kota[2])
print(data2)
print(data3)

['denpasar', 'tabanan', 'gianyar']
denpasar
tabanan
gianyar
['1', '2', '3']
['satu']

In [2]:
for i in range(3) :
    print(kota[i])

denpasar
tabanan
gianyar

In [3]:
for i in kota :
    print(i)

denpasar
tabanan
gianyar

In [7]:
a,b,c = map(int, [1,2,3])

print(a)
print(b)
print(c)

data = list(map(float, [1,2,3]))
print(data)

test = input("masukan nama :").split()
print(test)

1
2
3
[1.0, 2.0, 3.0]
['1', '2', '3', '4']

In [9]:
test2 = list(map(float, input("masukan angka :").split()))
print(test2)

[1.0, 2.0, 3.0, 4.0]

slice

In [16]:
data = [10,20,30,40,50]

print(data[0 : 3]) # [awal, batas]
print(data[0 : 4 :2]) # [awal, batas, langkah]
print(data[-1])
print(data[-5 : -1]) #[awal, batas]
print(data[-5: ]) #[awal : sampai habis]
print(data[-5 : -1 : 2]) #[awal, batas, langkah]
print(data[::-1])

[10, 20, 30]
[10, 30]
50
[10, 20, 30, 40]
[10, 20, 30, 40, 50]
[10, 30]
[50, 40, 30, 20, 10]

In [17]:
kota = ["denpasar", "tabanan", "gianyar"]

kota[0] = "badung"

print(kota)

['badung', 'tabanan', 'gianyar']

In [18]:
kota = ["denpasar", "tabanan", "gianyar"]
kota.append("negara")
print(kota)

['denpasar', 'tabanan', 'gianyar', 'negara']

In [19]:
kota = ["denpasar", "tabanan", "gianyar"]
kota.insert(0, "negara")
print(kota)

['negara', 'denpasar', 'tabanan', 'gianyar']

In [22]:
kota = ["denpasar", "tabanan", "gianyar"]
del kota[0]
print(kota)

['tabanan', 'gianyar']
[]

In [23]:
kota = ["denpasar", "tabanan", "gianyar"]
hapus = kota.pop(0)
print(kota)
print(hapus)

kota.clear()
print(kota)

['tabanan', 'gianyar']
denpasar
[]

In [25]:
data =[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(data[2])
print(data[2][0])

[7, 8, 9]
7

In [26]:
data = [i * 1 for i in range(5)]
print(data)

[0, 1, 2, 3, 4]

In [28]:
nama = "agung"
print(nama[0 : 4])

agun

In [27]:
kosong = ["kosong"]
data = [True, False]
kode_pos = [1, 2, 3, 4, 5]
warna = ["merah", "hijau","biru"]
cek = len(warna)

if cek > 10 :
    print(True)
else :
    print(False)

False

In [32]:
mystr = "welcome to koding akademi"
print(mystr[11 :])
print(mystr[0:7])
print(mystr[::-1])

koding akademi
welcome
imedaka gnidok ot emoclew