dictionary

In [5]:
data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}
data2 = dict(nama = "agung", alamat = "denpasar")
print(data1["nama"])
print(data2["nama"])

agung
agung

In [6]:
# ubah data dictionary

data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}

data1["nama"] = "wahyu"
print(data1)

{'nama': 'wahyu', 'alamat': 'denpasar'}

In [7]:
# hapus data dictionary
data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}
del data1["nama"]
print(data1)

{'alamat': 'denpasar'}

In [8]:
data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}
hapus = data1. pop("nama")
print(data1)
print(hapus)

{'alamat': 'denpasar'}
agung

In [9]:
# menambahkan data ke dictionary
data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}
data1.update({"password" : "admin"})
print(data1)

{'nama': 'agung', 'alamat': 'denpasar', 'password': 'admin'}

In [10]:
data = [1,2,3,4]
data1 = {
    "nama" : "agung",
    "alamat" : "denpasar"
}
print(len(data))
print(len(data1))

4
2

assignment

In [15]:
value1 = input("masukan nama :")
value2 = input("Masukan Umur :")
value3 = input("Masukan Alamat :")
value4 = input("Masukan Usernama : ")
value5 = input("Masukan Password : ")

data = {
    "nama" : value1, 
    "umur" : value2,
    "alamat" : value3,
    "username" : value4,
    "password" : value5
}

print(f"nama = {data["nama"]}")
print(f"umur = {data["umur"]}")
print(f"alamat = {data["alamat"]}")
print(f"username = {data["username"]}")
print(f"password = {data["password"]}")

nama = Robert
umur = 12
alamat = Jalan Tukad Batanghari
username = robertrobert
password = 12345

In [24]:
data ={
    "action" : "marvel",
    "romace" : "cinta fitri"
}

kondisi1 = input("tambah / hapus :")

if kondisi1 == "tambah" :
    kondisi2 = input("Masukan Jenis :")
    kondisi3 = input("Masukan Buku :")
    data.update({kondisi2 : kondisi3})
    print(data)
    
elif kondisi1 == "hapus":
    kondisi2 = input("Masukan Jenis :")
    kondisi3 = input("Masukan Buku :")

    del data[kondisi1]
    print(data)

{'action': 'marvel', 'romace': 'cinta fitri', 'keuangan': 'rich dad poor dad'}

dictionary funtion

In [25]:
#copy

data={
    "action" : "marvel",
    "romace" : "cinta fitri"
}

data2 = data.copy()
print(data2)

{'action': 'marvel', 'romace': 'cinta fitri'}

In [27]:
# clear
data={
    "action" : "marvel",
    "romace" : "cinta fitri"
}

data.clear()
print(data)

{}

In [28]:
# fromkey

nama_hewan = {"Sapi","Ayam", "Kambing"}
hewan = dict.fromkeys(nama_hewan,"hewan")
print(hewan)

{'Sapi': 'hewan', 'Ayam': 'hewan', 'Kambing': 'hewan'}

In [29]:
#get

data={
    "action" : "marvel",
    "romace" : "cinta fitri"
}
action = data.get("action")
print(action)

marvel

In [31]:
# item, keys, value

data={
    "action" : "marvel",
    "romace" : "cinta fitri"
}

print(data.keys())
print(data.values())
print(data.items())

dict_keys(['action', 'romace'])
dict_values(['marvel', 'cinta fitri'])
dict_items([('action', 'marvel'), ('romace', 'cinta fitri')])

ASSIGNMENT

In [35]:
data1 = {
    "1" : "Ayam",
    "2" : "Sapi",
    "3" : "Mawar",
    "4" : "Kambing",
    "5" : "Lily"
}

data2 = data1.copy()
print(data2)

del data1["3"]
print(data1)

{'1': 'Ayam', '2': 'Sapi', '3': 'Mawar', '4': 'Kambing', '5': 'Lily'}
{'1': 'Ayam', '2': 'Sapi', '4': 'Kambing', '5': 'Lily'}

In [38]:
data1 = {
    "1" : "Ayam",
    "2" : "Sapi",
    "3" : "Mawar",
    "4" : "Kambing",
    "5" : "Lily"
}

for i in data1.keys() :
    angka=int(i)
    if angka %2 != 0 :
        data1[i] = "Hewan"

print(data1)

{'1': 'Hewan', '2': 'Sapi', '3': 'Hewan', '4': 'Kambing', '5': 'Hewan'}