ini hello world

In [2]:
print("hello world")

hello world

In [3]:
print("hello world")

hello world

variable

In [4]:
nama = "ivan"
angka = 20
huruf = "angka 30"
nama_satu = "nama satu"
namaDua = "nama dua"

print (nama)
print (angka)
print (huruf)
print (nama_satu)
print (namaDua)

ivan
20
angka 30
nama satu
nama dua

del

In [5]:
nama = "ivan"
del nama # menghapus variable nama
print (nama)

NameError: name 'nama' is not defined

tipe data

In [16]:
nama = "ivan" # tipe data string
huruf = 'c' # char / bisa menyimpan satu karakter
angka = 10 # tipe data int / integer (bilangan bulat)
koma = 10.5 # tipe data float (bilangan koma)
kondisi1 = True # tipe data boolean
kondisi2 = False # tipe data boolean

print("Tipe data : ")
print(nama)
print(huruf)
print(angka)
print(koma)
print(kondisi1)
print(kondisi2)

Tipe data :
ivan
c
10
10.5
True
False

In [17]:
print(type(nama))
print(type(huruf))
print(type(angka))
print(type(koma))
print(type(kondisi1))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

konversi

In [7]:
angka_int = 10
print(angka_int)

angka_str="100"
print(angka_str)

angka_baru=int(angka_str)
print(type(angka_baru))

10
100
<class 'int'>

assigment

In [8]:
musim = "Semi"
print(musim)

Semi

In [18]:
angka_int = 10
angka_float=0.5
type_char = 'K'
type_sting = "Koding Akademi"
type_bool = True

print("Type :",angka_int)
print("Type Float :", angka_float)
print("Type Char :", type_char)
print("Type String :", type_sting)
print("Type Boolean :", type_bool)

Type : 10
Type Float : 0.5
Type Char : K
Type String : Koding Akademi
Type Boolean : True

In [19]:
angka1_int = 45

angka1_float = float(angka1_int)
print(angka1_float)

angka2_float = 0.667
angka2_int = int(angka2_float)
print(angka2_float)

angka3_int=12
angka_hex=hex(angka3_int)
print(angka_hex)

angka4_int=199
angka1_string=str(angka4_int)
print(angka1_string)

print(type(angka1_float))

45.0
0.667
0xc
199
<class 'float'>